<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InitialTracker" value="E:\\Touchless\New folder\" />
  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.18.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="fadv_touchlessEntities" connectionString="metadata=res://*/FADV_TouchlessModel.csdl|res://*/FADV_TouchlessModel.ssdl|res://*/FADV_TouchlessModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=GIC;database=fadv_touchless;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="fadv_touchlessEntities" connectionString="metadata=res://*/FADV_TouchlessModel.csdl|res://*/FADV_TouchlessModel.ssdl|res://*/FADV_TouchlessModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=dbpcspirb;Port=3308;user id=cspirb_app; pwd=rBcs9!ap; database=CSPIRB;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />


  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <system.data>
    <DbProviderFactories>
      <!--<!-Removes the dll installed in gac-->
      <remove invariant="MySql.Data.MySqlClient" />


      <add name="MySQL" description="ADO.Net driver for MySQL" invariant="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>
  
</configuration>
